body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
header {
    width: 100%;
    background-color: #832b2d;
    color: #fff;
    border-bottom: 2px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.logo {
    font-size: 1.5em;
}
.nav-links {
    display: flex;
    gap: 15px;
}
.btn {
    background-color: #eee;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}
.btn:hover {
    background-color: #777;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    text-align: center;
    display: inline-block;
}

.register-container h1 {
    margin-bottom: 20px;
    color: #333;
}

.register-container label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.register-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container button {
    width: 100%;
    padding: 10px;
    margin: 0 auto 10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.register-container button:hover {
    background-color: #0056b3;
}